@{
    ViewData["Title"] = "About City Weather Reports";
}
<h2 style="color:deepskyblue">@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> Welcome to City Weather Reports! This is a place to view weather statistics and historical weather data. For example,
    Find the weather on the day of your wedding, the day you graduated, the day you were born, etc. Or, find the top 10 coldest days in your city or find
    all the cities where certain weather occurred in a specific time frame.
</p> 

<p>
    Currently, there are four reports with various weather statistics that can be viewed:
    <ol>
        <li><i><a asp-controller="History" asp-action="Index">Historical Weather Data Report</a></i></li>
        <li><i><a href="@Url.Action("TopXReport", "ExtremeWx")">Top X Days Extreme Weather Report</a></i></li>
        <li><i><a href="@Url.Action("Cities4WeatherEvents", "ExtremeWx")">Average Monthly High Temperature Report</a></i></li>
        <li><i><a href="@Url.Action("Cities4WeatherEvents", "ExtremeWx")">Cities Where Weather Events Occurred Report</a></i></li>
    </ol>

    For an explanation of the Historical Weather Data Report go <a asp-controller="History" asp-action="About">here.</a>
    For an explanation of the other reports go <a asp-controller="History" asp-action="Index">here.</a>

    The latest daily weather data from the various cities and towns is usually approximately three days behind the current date as it becomes available.
</p>    
